# =========================
# NODE / FRONTEND
# =========================
/node_modules
/.next/
/out/
/build

# =========================
# PYTHON / BACKEND
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# virtual env
.venv/
venv/
env/

# =========================
# ML MODEL (IMPORTANT)
# =========================
backend/violence_model_lstm.h5

# =========================
# UPLOADS / TEMP FILES
# =========================
backend/uploads/

# =========================
# ENV FILES
# =========================
.env*
!.env.example

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VERCEL / DEPLOY
# =========================
.vercel

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo
next-env.d.ts